* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
}

.bg-grey {
    background: #f7f7f7;
}

body {
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    color: #1d3557;
    width: 100%;
    align-items: center;
    margin: auto;
}

section>.container {
    width: 100%;
    margin: auto;
    display: block;
    padding: 30px 50px;
}

.container {
    width: 100%;
    border-radius: 5px solid black;
}

/* Banner */

.img-banner {
    position: relative;
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 500px;
    background-size: cover;
    filter: brightness(50%);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.text-banner {
    position: absolute;
    top: 30%;
    left: 45%;
    text-align: center;
    color:#bdc3c7;
}

.text-banner h1 {
    text-transform: uppercase;
}

.text-banner span {
    color: #bdc3c7;
}

/* Nav Bar */

#nav-bar {
    text-align: center;
}

#nav-bar a:link,
a:visited {
    text-decoration: none;
    color: #1d3557;
    text-transform: uppercase;
    border-right: 1px solid wheat;
    padding: 30px 20px 30px;
}

.text-navbar {
    display: inline-block;
    margin: 5px 60px;
}

.text-navbar h1 {
    font-weight: bold;
    font-size: 30px;
}

.text-navar span {
    color: #bdc3c7;
}

.icon {
    color: #0abde3;
    font-weight: bold;
}

/* Info */

.container-info {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    line-height: 1.5;
    align-items: stretch;
}

.section-title {
    margin-bottom: 10px;
    font-size: 30px;
}

#target {
    padding: 40px 30px;
    font-size: 20px;
    margin-bottom: 15px;
}

#personal-info {
    padding: 40px 30px;
    font-size: 20px;
    background-color: #bdc3c7;
}

/* *Job* */

.container-job {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.job-box {
    display: grid;
    grid-template-columns: 75% 25%;
    column-gap: 20px;
    row-gap: 40px;
    border: 1px solid #bdc3c7;
    align-items: center;
    padding: 24px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
    align-content: start;
}

.job-content {
    grid-column: 1/-1;
    margin: 10px;
}

.job-title {
    font-size: 20px;
    margin-left: 10px;
}

.now {
    background-color: #0abde3;
    padding: 4px 8px;
    color: white;
    border-radius: 10px;
    align-items: center;
}

.list-1 {

    position: relative;
}

.list-2 {

    position: relative;
}

.node::before {
    content: "•";
    padding-right: 10px;
    color: #0abde3;
}

/* CSS for hobbit's Icon */

.icon-hobbit {

    width: 50px;
    height: 50px;
    color: #0abde3;
    border: 2px solid #0abde3;
    padding: 10px;
    border-radius: 50%;
    margin-right: 1rem;
    margin-bottom: 15px;
}

/* Level span*/
.great {
    background-color: #0abde3;
    display: inline-block;
    height: 3px;
    width: 40px;
}

.normal {
    background-color: #cfcfcf;
    display: inline-block;
    height: 3px;
    width: 40px;
}

/* Certificate - CSS */

.certificate-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 30px;
}

.img-cer {
    width: 240px;
    margin-right: 10px;
}

.cer-content {
    padding: 15px;
    display: flex;
    gap: 20px;
}

.cer-content-2 {
    padding: 15px;
    border-left: 2px solid #d6c08d;
    display: flex;
    gap: 20px;
    ;
}

.cer-content-3 {
    grid-column: 1/-1;
    padding: 15px;
    border-top: 2px solid #d6c08d;
}

/* Project - CSS */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.project {
    display: flex;
    flex-direction: column;
}

.project-title {
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    border-left: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;
}

.project-border {
    padding: 5px;
    border-top: 1px solid #bdc3c7;
    border-left: 1px solid #bdc3c7;
    border-right: 1px solid #bdc3c7;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
}

tr td:first-child {
    width: 100px;
    vertical-align: top;
    font-weight: bold;
}

tr {
    border: 1px solid #bdc3c7;
}

/* FOTTER-CSS */

#footer {
    line-height: 3;
    text-align: center;
}
 

#footer a:link,
a:visited {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #bdc3c7;
    padding: 20px;
}

#footer a:hover,
a:active {
    cursor: grab;
    color: #000;
}

/* AVATAR- CSS */

.avatar-change{
    height: 260px;
    width: 240px;
    border-radius: 50%;
    padding: 10px;
    background-color: #ffff;
}
.avatar{
    position: absolute;
    display: inline-block;
    bottom: 0;
    right: 50%;
    /* //căn chỉnh ảnh// */
    transform: translate(50%,-70%); 
}